html {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
}

@font-face {
  font-family: myFirstFont;
  src: url(lav2.otf);
}

.navbar {
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	font-weight: bold;
}

.header {
	background-image: url(banner8.jpg);
	background-repeat: no-repeat;
	color: white;
	cursor: default;
	text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}
h1 {
	cursor: default;
	font-size: 150px;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 60px;
	font-family: myFirstFont;
}
.p1 { 
	font-family: 'Poiret One', cursive;
	text-align: center;
	cursor: default;
	color: black;
	font-size: 40px;
	line-height: 0;
	margin-top: 3px;
	margin-bottom: 5px;
}
.p2 {
	font-family: 'Poiret One', cursive;
	text-align: center;
	cursor: default;
	color: black;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 5px;
}
